In [38]:
import numpy as np
import pandas as pd 
from scipy.optimize import minimize
import pybaseball as pybb

In [39]:
team = 'STL'
year = 2023

In [40]:
df_team_log_pitch = pybb.team_game_logs(year, team, "pitching")
df_team_log_pitch

/home/ubuntu/wslcoding/pyprojects/sabermetrics-ML-research/.venv/lib/python3.10/site-packages/pybaseball/team_game_logs.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/home/ubuntu/wslcoding/pyprojects/sabermetrics-ML-research/.venv/lib/python3.10/site-packages/pybaseball/team_game_logs.py:36: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data = data.apply(pd.to_numeric, errors="ignore")

,Game,Date,Home,Opp,Rslt,IP,H,R,ER,UER,...,2B,3B,IBB,SH,SF,ROE,GDP,NumPlayers,Umpire,PitchersUsed
0,1,Mar 30,True,TOR,"L,9-10",9.0,19,10,10,0,...,3,0,0,0,2,0,0,6,Dan Iassogna,"M.Mikolas (99-26), Z.Thompson (99), D.VerHagen..."
1,2,Apr 1,True,TOR,"W,4-1",9.0,3,1,1,0,...,0,0,0,0,0,0,1,5,Scott Barry,"J.Flaherty (99-64-W), D.VerHagen (1-H), A.Pall..."
2,3,Apr 2,True,TOR,"W,9-4",9.0,10,4,4,0,...,3,0,0,0,1,0,1,3,Gabe Morales,"J.Montgomery (99-45-W), C.Stratton (99), P.Nau..."
3,4,Apr 3,True,ATL,"L,4-8",9.0,10,8,8,0,...,3,0,0,0,0,0,1,4,Tony Randazzo,"J.Woodford (99-25-L), Z.Thompson (3), J.Hicks ..."
4,5,Apr 4,True,ATL,"L,1-4",9.0,12,4,4,0,...,1,0,0,0,0,0,1,4,Junior Valentine,"S.Matz (99-38-L), D.VerHagen (2), A.Pallante (..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Sep 27,False,MIL,"L,2-3",8.0,7,3,3,0,...,5,0,1,0,0,0,1,4,Jeremy Riggs,"Z.Thompson (6-54), J.Barnes (3-L), M.Liberator..."
158,159,Sep 28,False,MIL,"L,0-3",8.0,8,3,3,0,...,3,0,0,0,0,0,4,3,Carlos Torres,"D.Hudson (5-41-L), A.Pallante (4), J.Barnes (0)"
159,160,Sep 29,True,CIN,"L,2-19",9.0,17,19,14,5,...,3,2,0,0,0,1,0,5,Phil Cuzzi,"J.Woodford (5-14-L), C.Lawrence (1), A.Suárez ..."
160,161,Sep 30,True,CIN,"W,15-6",9.0,14,6,6,0,...,3,0,0,0,0,0,0,6,Dan Bellino,"D.Rom (5-37), A.Pallante (1), D.VerHagen (3-W)..."
161,162,Oct 1,True,CIN,"W,4-3",9.0,9,3,3,0,...,4,0,0,0,0,0,0,3,Shane Livensparger,"M.Mikolas (4-61-W), J.King (0-H), R.Helsley (4..."

In [41]:
df_team_log_bat = pybb.team_game_logs(year, team, "batting")
df_team_log_bat

/home/ubuntu/wslcoding/pyprojects/sabermetrics-ML-research/.venv/lib/python3.10/site-packages/pybaseball/team_game_logs.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  data = pd.read_html(str(table))[0]
/home/ubuntu/wslcoding/pyprojects/sabermetrics-ML-research/.venv/lib/python3.10/site-packages/pybaseball/team_game_logs.py:36: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  data = data.apply(pd.to_numeric, errors="ignore")

,Game,Date,Home,Opp,Rslt,PA,AB,R,H,2B,...,SB,CS,BA,OBP,SLG,OPS,LOB,NumPlayers,Thr,OppStart
0,1,Mar 30,True,TOR,"L,9-10",47,41,9,15,2,...,1,0,0.366,0.447,0.561,1.008,11,10,R,A.Manoah(23)
1,2,Apr 1,True,TOR,"W,4-1",35,33,4,10,0,...,1,0,0.338,0.402,0.446,0.848,7,10,R,K.Gausman(56)
2,3,Apr 2,True,TOR,"W,9-4",40,36,9,16,4,...,1,0,0.373,0.426,0.591,1.017,7,10,R,C.Bassitt(4)
3,4,Apr 3,True,ATL,"L,4-8",42,39,4,12,0,...,0,0,0.356,0.409,0.537,0.945,11,10,R,C.Morton(37)
4,5,Apr 4,True,ATL,"L,1-4",35,34,1,10,1,...,0,0,0.344,0.392,0.497,0.889,7,10,L,D.Dodd(54)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,158,Sep 27,False,MIL,"L,2-3",38,32,2,8,0,...,0,0,0.249,0.325,0.416,0.741,9,10,L,W.Miley(52)
158,159,Sep 28,False,MIL,"L,0-3",36,33,0,6,2,...,0,0,0.249,0.325,0.415,0.740,9,9,R,C.Burnes(55)
159,160,Sep 29,True,CIN,"L,2-19",34,32,2,6,1,...,0,0,0.249,0.324,0.414,0.739,5,14,L,B.Williamson(54)
160,161,Sep 30,True,CIN,"W,15-6",46,35,15,13,7,...,1,0,0.249,0.326,0.416,0.742,7,10,R,C.Phillips(35)
161,162,Oct 1,True,CIN,"W,4-3",35,30,4,9,3,...,1,1,0.250,0.326,0.416,0.742,7,11,R,H.Greene(38)

In [42]:
###########################################################
# For some reason the pybb.schedule_and_record function doesn't work currently
# I have commented this part out. It worked first time I tried but now it doesn't. 
# I think its a pybaseball package issue.
###########################################################

# df_team_schedule = pybb.schedule_and_record(year, team)
# df_team_schedule
# win_loss_arr = df_team_schedule['W/L'].to_numpy()
# win_arr = win_loss_arr == ('W' or 'W-wo') # True if win or walkoff win

# section_size = 5
# win_prcnt = np.zeros((162))
# for i in range(0, len(win_arr), section_size):
#     section_win_prcnt = win_arr[i:i+section_size].sum() / section_size
#     if i+section_size < 162:
#         win_prcnt[i+section_size] = section_win_prcnt

# winPRCNT_past_x_games = pd.Series(win_prcnt)
# winPRCNT_past_x_games.name = f'Calculated Win Percentage for Past Games (Window Size={section_size})'

### __Gathering Batting and Pitching Stats__

In [43]:
calc_AVG = df_team_log_bat['H']/df_team_log_bat['AB']
calc_AVG.name = 'Calculated AVG for Game'

calc_OBP = (df_team_log_bat['H']+df_team_log_bat['BB']+df_team_log_bat['HBP'])/df_team_log_bat['PA']
calc_OBP.name = 'Calculated OBP for Game'

# Number of first base hits is: 1B = H - (2B + 3B + HR)
num_1B = df_team_log_bat['H']-(df_team_log_bat['2B']+df_team_log_bat['3B']+df_team_log_bat['HR'])
calc_SLG = (1*num_1B + 2*df_team_log_bat['2B'] + 3*df_team_log_bat['3B'] + 4*df_team_log_bat['HR']) / df_team_log_bat['AB']
calc_SLG.name = 'Calculated SLG for Game'

bat_cols_to_keep = ['Date', 'Opp', 'Rslt', 'RBI']
df_bat = df_team_log_bat[bat_cols_to_keep]
df_bat = pd.concat([df_bat, calc_AVG, calc_OBP, calc_SLG], axis=1)

df_bat

,Date,Opp,Rslt,RBI,Calculated AVG for Game,Calculated OBP for Game,Calculated SLG for Game
0,Mar 30,TOR,"L,9-10",9,0.365854,0.446809,0.560976
1,Apr 1,TOR,"W,4-1",3,0.303030,0.342857,0.303030
2,Apr 2,TOR,"W,9-4",9,0.444444,0.475000,0.888889
3,Apr 3,ATL,"L,4-8",4,0.307692,0.357143,0.384615
4,Apr 4,ATL,"L,1-4",1,0.294118,0.314286,0.323529
...,...,...,...,...,...,...,...
157,Sep 27,MIL,"L,2-3",1,0.250000,0.342105,0.250000
158,Sep 28,MIL,"L,0-3",0,0.181818,0.250000,0.242424
159,Sep 29,CIN,"L,2-19",2,0.187500,0.235294,0.312500
160,Sep 30,CIN,"W,15-6",15,0.371429,0.521739,0.657143
161,Oct 1,CIN,"W,4-3",4,0.300000,0.342857,0.400000

In [44]:
calc_ERA = (df_team_log_pitch['ER'] / df_team_log_pitch['IP']) * 9
calc_ERA.name = 'Calculated ERA for Game'


pitch_cols_to_keep = ['Date', 'Opp', 'Rslt']
df_pitch = df_team_log_pitch[pitch_cols_to_keep]
#df_pitch = pd.concat([df_pitch, calc_ERA, winPRCNT_past_x_games], axis=1)
df_pitch = pd.concat([df_pitch, calc_ERA], axis=1)

df_pitch

       Date  Opp    Rslt  Calculated ERA for Game
0    Mar 30  TOR  L,9-10                   10.000
1     Apr 1  TOR   W,4-1                    1.000
2     Apr 2  TOR   W,9-4                    4.000
3     Apr 3  ATL   L,4-8                    8.000
4     Apr 4  ATL   L,1-4                    4.000
..      ...  ...     ...                      ...
157  Sep 27  MIL   L,2-3                    3.375
158  Sep 28  MIL   L,0-3                    3.375
159  Sep 29  CIN  L,2-19                   14.000
160  Sep 30  CIN  W,15-6                    6.000
161   Oct 1  CIN   W,4-3                    3.000

[162 rows x 4 columns]

### __Optimization for Optimal Weights for ERA statistic__

In [45]:
ERA_arr = df_pitch['Calculated ERA for Game'].to_numpy()
ERA_arr

array([10.        ,  1.        ,  4.        ,  8.        ,  4.        ,
        5.        ,  4.5       ,  0.        ,  6.75      ,  6.75      ,
        6.        ,  3.        ,  5.        ,  0.        ,  4.5       ,
        1.8       ,  6.        ,  8.        ,  5.        ,  5.625     ,
        5.625     ,  3.        ,  0.        ,  5.48780488,  6.75      ,
        0.        ,  6.75      ,  1.125     ,  6.75      ,  5.        ,
        6.        , 10.        ,  5.        ,  4.5       ,  1.        ,
        1.        ,  4.        , 11.25      ,  6.        ,  3.        ,
        1.        ,  1.        ,  3.        ,  0.        ,  3.        ,
        4.        ,  5.        ,  5.        ,  4.94505495,  5.        ,
       11.25      ,  1.        ,  4.5       ,  0.9       ,  4.3902439 ,
        7.        ,  1.        ,  7.875     ,  1.125     ,  2.25      ,
        4.44444444,  5.625     ,  0.        ,  4.        ,  8.        ,
        4.        ,  4.        , 11.        ,  6.3       ,  6.75      ,
        3.        ,  7.        ,  6.        ,  3.        ,  3.375     ,
        7.        ,  1.        ,  1.        , 10.        , 14.        ,
        3.        ,  6.        ,  0.        ,  5.625     , 13.5       ,
       10.        ,  0.        ,  7.875     ,  0.        ,  0.        ,
        4.5       ,  6.        ,  4.        ,  4.        ,  1.8       ,
        4.        ,  2.        ,  4.5       ,  9.        ,  5.625     ,
        5.        ,  3.375     ,  7.        , 10.        ,  3.        ,
        5.        ,  0.        ,  2.        ,  3.        ,  5.        ,
        9.        ,  2.        ,  1.        ,  4.5       ,  4.        ,
        2.        , 12.375     ,  4.        ,  5.        ,  2.        ,
        7.        ,  4.        ,  7.        , 11.        ,  3.        ,
       10.125     ,  6.75      ,  4.        ,  7.875     , 13.5       ,
        3.375     ,  4.        ,  3.6       ,  4.        ,  2.7       ,
        7.        ,  4.        ,  6.        ,  6.        ,  9.        ,
        4.        ,  3.        ,  7.875     , 12.375     ,  2.        ,
        0.        ,  5.        ,  6.        ,  5.        ,  0.        ,
        7.        ,  8.        ,  5.        ,  4.5       ,  1.63636364,
       11.25      ,  1.        ,  3.375     ,  3.375     , 14.        ,
        6.        ,  3.        ])

In [46]:
arr = ERA_arr 
window_size = 7 # Defining window size
num_preds = len(arr) - window_size # Number of squared error terms


def objective(w, arr, window_size):
    """ w is an ndarray with 'window_size' number of weights """

    total_error = 0
    for i in range(num_preds):
        pred_ERA_i = np.dot(w, arr[i:window_size+i])
        total_error += (arr[window_size+i]-pred_ERA_i)**2

    return total_error

# Constraint: sum of weights - 1 must equal 0
def constraint(w):
    return np.sum(w) - 1

# Initial guess for weights
initial_weights = np.ones((window_size)) / window_size

# Define the constraints and bounds
constraints = {'type': 'eq', 'fun': constraint}
bounds = [(0, 1) for _ in range(window_size)]  # Weights must be between 0 and 1

# Perform the optimization
result = minimize(fun=objective, x0=initial_weights, constraints=constraints, bounds=bounds, args=(arr, window_size))

print(result)
print()
print(f'Optimal weights found:')
print(result.x*1e2)
print()

print('LIST:')
for i in range(len(result.x)):
    print(result.x[i]*1e2)

 message: Optimization terminated successfully
 success: True
  status: 0
     fun: 1785.2248449523577
       x: [ 2.055e-01  2.178e-01  1.262e-01  2.022e-01  8.964e-02
            2.405e-02  1.346e-01]
     nit: 15
     jac: [ 3.396e+02  3.396e+02  3.396e+02  3.396e+02  3.396e+02
            3.396e+02  3.396e+02]
    nfev: 135
    njev: 15

Optimal weights found:
[20.553487   21.77728778 12.62252885 20.21681964  8.96376173  2.40494456
 13.46117044]

LIST:
20.553487002827694
21.777287781677213
12.622528851675954
20.21681964448012
8.963761726495045
2.4049445555044913
13.461170437339465